################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TNovationProject/obj/Debug/TempPE
/TNovationClassLibrary/obj/Debug
