<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TNovationProject.Properties.Settings.TNovationConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\TNovation.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="TNovationProject.Properties.Settings.TNovation" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=F:\TNovation_Client\App_Data\TNovation.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="TNovationProject.Properties.Settings.TNovationProjectConnection"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\P13228620\Source\Repos\Tnovationtest\App_Data\TNovation.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="TNovationProject.Properties.Settings.TNovationConnectionString1"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\MwenyaSebastian\Source\Repos\Tnovationtest20\App_Data\TNovation.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="TNovationProject.Properties.Settings.TNovationConnectionString2Last"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\MwenyaSebastian\Source\Repos\Tnovationtest21\App_Data\TNovation.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>